//breakpoint variables
$screen-tablets: 992px
$screen-mobile:  567px

//fonts-size variables
$largeText: 60px
$bigText: 24px
$mediumText: 17px
$smallText: 15px

//font-weight variables
$boldestWeight: 900
$boldWeight: 700
$mediumWeight: 500
$lightWeight: 300

//line-height variables
$largeLineHeight: 27px
$bigLineHeight: 26px
$mediumLineHeight: 23px 
$smallLineHeight: 21px